<!DOCTYPE html>
<html>

<head>
  <h1>Lec02 GET!</h1>
  <meta charset="utf-8">
  <title>janken lec02</title>
</head>

<body>
  <div th:if="${username}">
    Hi [[${username}]]
  </div>

  <a href="/lec02_geam?jankenhand=0">ぐー</a>
  <a href="/lec02_geam?jankenhand=1">ちょき</a>
  <a href="/lec02_geam?jankenhand=2">ぱー</a>

  <p>
  <div th:if="${my_hand}">
    あなたの手 [[${my_hand}]]
  </div>

  <div th:if="${your_hand}">
    相手の手 [[${your_hand}]]
  </div>

  <div th:if="${Result}">
    結果 [[${Result}]]
  </div>

  </p>
</body>

</html>
