<!DOCTYPE html>
<html>

<head>
  <h1>Lec02 GET!</h1>
  <meta charset="utf-8">
  <title>janken lec02</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <div th:if="${entry}">
    エントリー
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>
  <p>
  <div th:if="${login_user}">
    Hi [[${login_user}]]
  </div>

  <a href="/lec02/geam?jankenhand=0">ぐー</a>
  <a href="/lec02/geam?jankenhand=1">ちょき</a>
  <a href="/lec02/geam?jankenhand=2">ぱー</a>

  <div th:if="${my_hand}">
    あなたの手 [[${my_hand}]]
  </div>

  <div th:if="${your_hand}">
    相手の手 [[${your_hand}]]
  </div>

  <div th:if="${Result}">
    結果 [[${Result}]]
  </div>
  </p>
</body>

</html>
